.form {
  width: 80%;
  border: 1px solid #000;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  max-width: 900px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.form-box {
  margin: 15px 0;
}

/* INPUT */

.form-box {
  position: relative;
  width: 190px;
}

.form-box .form-box-input {
  position: relative;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #fafafa;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.form-box .form-box-label {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.form-box .form-box-input:valid ~ .form-box-label,
.form-box .form-box-input:focus ~ .form-box-label {
  color: #5264ae;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.form-box .form-box-i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #5264ae;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
  padding: 0 10px;
}

.form-box .form-box-input:valid ~ .form-box-i,
.form-box .form-box-input:focus ~ .form-box-i {
  height: 44px;
}

/* SELECT FORM */

.form-select-box {
  width: 110%;
  padding: 15px 10px 10px;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  border: none;
}

.form-box .form-select-box:valid ~ .form-box-label,
.form-box .form-select-box:focus ~ .form-box-label {
  color: #5264ae;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.form-select-box:focus {
  outline: none;
}

.form-select-box option {
  background-color: #5264ae;
  color: #fff;
}

/* BUTTON */

.form-btn-box {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #333;
  border: none;
  color: #fff;
  margin: 20px auto 0;
}

.form-btn {
  background-color: transparent;
  color: #fff;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
}

.form-btn-box:hover {
  letter-spacing: 0.25em;
  background: #5264ae;
  color: #5264ae;
  box-shadow: 0 0 45px #5264ae;
}

.form-btn-box::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222222;
}

.form-btn-box .form-btn {
  position: relative;
  z-index: 1;
}

.form-btn-box .form-btn-i {
  position: absolute;
  inset: 0;
  display: block;
}

.form-btn-box .form-btn-i::before {
  content: "";
  position: absolute;
  border: 2px solid #5264ae;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.form-btn-box:hover .form-btn-i::before {
  width: 20px;
  left: 20%;
}

.form-btn-box .form-btn-i::after {
  content: "";
  position: absolute;
  border: 2px solid #5264ae;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.form-btn-box:hover .form-btn-i::after {
  width: 20px;
  left: 80%;
}

.form-box-textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  margin-top: 50px;
}

.form-textarea {
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
  height: 100%;
  resize: none;
}

.form-textarea:focus {
  border: 2px solid #5264ae;
}

.form-textarea:focus ~ .label-textarea,
.form-textarea:valid ~ .label-textarea {
  transform: translateY(-50px);
  font-size: 20px;
  color: #5264ae;
}

.label-textarea {
  top: 0;
  bottom: unset;
  transition: all 0.3s;
}

/* PRODUCT */

.product-delete-icon {
  position: absolute;
  left: 20px;
  top: 10px;
}

.product-box {
  pointer-events: none;
  height: unset;
  margin-left: 10px;
  width: 95%;
}

.product-box-position {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.product-edit-btn {
  position: absolute;
  right: 25px;
  pointer-events: all;
}

.product-box-icon::before {
  content: "$";
  position: absolute;
  left: 5px;
}

.product-box-title,
.product-box-price {
  border: none;
  margin: 10px 0;
  padding: 5px;
  width: 70%;
  pointer-events: all;
  border-bottom: 1px solid #000;
}

.product-box-price {
  padding-left: 15px;
  width: 50%;
}

.product-edit-box {
  position: absolute;
  right: 10px;
  display: none;
}

.product-edit-confirm {
  color: #0f0;
  cursor: pointer;
  pointer-events: all;
}

.product-edit-cancel {
  color: #f00;
  cursor: pointer;
  pointer-events: all;
}

.product-box-description {
  width: max-content;
  margin: 10px auto;
  pointer-events: all;
  cursor: pointer;
}

.product-box-description span {
  position: relative;
  top: -2px;
  pointer-events: none;
}

.product-webkit {
  display: none;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.product-webkit-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: #fffa;
}

.product-webkit-title {
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}

.product-webkit-text {
  margin-top: 30px;
  width: 80%;
  height: 50%;
  resize: none;
  border: none;
  box-shadow: 0 5px 10px #000a;
  border-radius: 10px;
  padding: 10px;
}

.product-webkit-text:focus {
  box-shadow: 0 0 1px #000a;
  transform: translateY(5px);
  transition: 0.3s all;
}

.product-webkit-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.product-webkit-buttons {
  margin-top: 30px;
}

.product-description-cancel {
  background-color: #d00;
}
.product-description-save {
  background-color: #0d0;
}

.description-btns {
  margin: 0 5px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* MEDIA QUERYS */

@media screen and (min-width: 650px) {
  .form-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-webkit-text {
    width: 50%;
    height: 50%;
  }
}
