.header {
  min-height: 100vh;
  background-color: #fafafa;
}

.header-title {
  text-align: center;
  margin: 20px 0;
}

.form {
  width: 100vw;
  margin: 20px 0 10px 0;
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
}

.form-container {
  width: 90%;
}

.form-box {
  width: 80%;
  margin: 40px auto;
  position: relative;
}

.form-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  gap: 10px;
}

.form-box-phone {
  width: 70%;
  margin: 0;
}

.form-box-age {
  width: 20%;
  margin: 0;
}

/* INPUT */

.form-input {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  width: 100%;
}

.form-input:focus {
  outline: none;
}

.form-label,
.form-label-top {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-label-top {
  top: -20px;
  color: #000;
}

.form-input:focus ~ .form-label,
.form-input:valid ~ .form-label {
  top: -20px;
  font-size: 14px;
  color: var(--color-accent);
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-accent);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.form-input:focus ~ .bar:before,
.form-input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.form-input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: var(--color-accent);
  }

  to {
    width: 0;
    background: transparent;
  }
}

/* BUTTON */

.form-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.form-btn:hover {
  background-color: var(--color-primary);
  box-shadow: 0px 15px 20px var(--color-accent);
  color: #fff;
  transform: translateY(-7px);
}

.form-btn:active {
  transform: translateY(-1px);
}

/* SPAN */

.header-span {
  display: block;
  text-align: center;
  padding: 20px 0 50px;
}

@media screen and (min-width: 600px) {
  .form {
    width: 70vw;
    margin: 0 15vw;
  }
}

@media screen and (min-width: 1000px) {
  .form {
    width: 50vw;
    margin: 0 25vw;
  }
}
