.header {
  height: 15vh;
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  position: relative;
  z-index: 200;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 150;
  pointer-events: none;
}

.header-cart-icon {
  position: absolute;
  display: grid;
  place-content: center;
  right: 120px;
  z-index: 200;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: all;
}

.header-cart-icon:hover {
  background-color: #0002;
}

.nav-title {
  margin-left: 20px;
  pointer-events: all;
}

.nav-img-container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  pointer-events: all;
}

.nav-icon {
  transition: transform 0.3s;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.nav-icon:hover {
  background-color: #0002;
}

.bx {
  pointer-events: none;
}

.nav-icon-down {
  transform: rotate(-180deg);
}

.nav-img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 10px #000a;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
}

.nav-img-box:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background-color: #0005;
  pointer-events: none;
}

.nav-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.nav-list {
  position: absolute;
  background-color: #000;
  border-bottom-left-radius: 10px;
  right: 0;
  top: 15vh;
  margin: 0;
  padding: 10px 5px 10px 30px;
  transform: translateY(-105%);
  transition: all 0.3s;
}

.nav-list-open {
  transform: translateY(0);
}

.nav-list-item {
  margin: 10px 0;
  color: #fff;
}

.nav-list-item a {
  text-decoration: none;
}

.main-title {
  text-align: center;
}

.main {
  min-height: 65vh;
}

/* PRODUCTOS */

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.product {
  width: 300px;
  text-align: center;
  margin: 30px 10px;
  padding: 20px 0;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.product-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.product-img img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.product-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  height: 80px;
}

.product-box-title,
.product-box-price {
  text-align: left;
  margin: 5px 20px;
}

.product-btn {
  padding: 15px 25px;
  margin: 0 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.product-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.product-btn:hover {
  color: #e8e8e8;
}

.product-btn:hover::before {
  width: 100%;
}

/* FOOTER */

.footer {
  background-color: #000;
  width: 100%;
  height: 10vh;
}
