.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.product {
  width: 300px;
  text-align: center;
  margin: 30px 10px;
  padding: 20px 0;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
}

.product-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.product-img img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.product-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  height: 80px;
}

.product-box-title,
.product-box-price {
  text-align: left;
  margin: 5px 20px;
}

.product-btn {
  padding: 15px 25px;
  margin: 0 20px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-white);
}

.product-icon {
  position: relative;
  top: 5px;
}

.product-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--color-black);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.product-btn:hover {
  color: #e8e8e8;
}

.product-btn:hover::before {
  width: 100%;
}
