.card {
  width: 300px;
  height: 400px;
  background: var(--color-black);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  margin: 50px auto;
}

.card-item {
  position: relative;
  z-index: 1;
  color: #fff;
  margin: 5px 0;
  font-size: 18px;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, var(--color-primary), var(--color-accent));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: var(--color-black);
  inset: 5px;
  border-radius: 15px;
}

.card-img-box {
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  background-color: #fafafa;
  position: relative;
  background-color: var(--color-primary);
}

.card-img-box:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000a;
  pointer-events: none;
}

.card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.edit-img {
  display: none;
  color: var(--color-accent);
  position: absolute;
  top: 30px;
  left: 25px;
  z-index: 1000;
  padding: 30px;
  cursor: pointer;
  pointer-events: all;
}

.card-img-box:hover .edit-img {
  display: block;
}

.card-img-label {
  width: 10px;
  height: 10px;
  background-color: #000;
}

.card-img-box-form {
  display: none;
}
