<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Error</title>

    <!-- LINK -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/error.css" />
  </head>
  <body>
    <header class="header">
      <div class="webkit-container">
        <h1 class="webkit-title">
          Error<br />
          <%= msg %>
        </h1>
      </div>
    </header>
    <script>
      setTimeout(() => {
        window.location.href = "/login";
      }, 2000);
    </script>
  </body>
</html>
