<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Login</title>

    <!-- LINK -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/form.css" />

    <!-- SCRIPT -->
    <%- include('partials/icon.ejs'); %>
    <script src="/js/inputMail.js" type="module" defer></script>
    <script src="/js/login.js" type="module" defer></script>
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">Login</h1>

      <form id="loginForm" class="form">
        <div class="form-container">
          <div class="form-box">
            <input required class="form-input" type="email" id="email" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label email-label" for="username">Email:</label>
          </div>

          <div class="form-box">
            <input required class="form-input" type="password" id="password" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label" for="password">Contraseña:</label>
          </div>
        </div>

        <input class="form-btn" type="submit" value="Entrar" />
      </form>

      <span class="header-span"
        >No tenes una cuenta? registrate aca:
        <a class="header-span-link" href="/register">REGISTER</a>
      </span>
    </header>
  </body>
</html>
