<div class="chat-container">
  <div class="chat-title-box">
    <h4 class="chat-title">Chat</h4>
    <div class="chat-close-icon">
      <i class="bx bx-x bx-md"></i>
    </div>
    <a href="/chat" class="chat-expand-icon">
      <i class="bx bx-expand-alt bx-sm"></i>
    </a>
  </div>
  <div class="chat" id="messages"></div>
  <form class="chat-input-box">
    <input id="userMsg" class="chat-input" type="text" />
    <input class="chat-input-send" type="submit" value="Enviar" />
  </form>
</div>
<div class="chat-icon">
  <i class="bx bxs-chat bx-md"></i>
</div>
