<div class="chat-container">
  <div class="chat-title-box">
    <h4 class="chat-title">Chat</h4>
    <div class="chat-title-icon">
      <i class="bx bx-x bx-md"></i>
    </div>
  </div>
  <div class="chat"></div>
  <div class="chat-input-box">
    <input class="chat-input" type="text" />
    <button class="chat-input-send">Enviar</button>
  </div>
</div>
<div class="chat-icon">
  <i class="bx bxs-chat bx-md"></i>
</div>
