<header class="header">
  <div class="header-container">
    <h1 class="nav-title">
      <a href="/"><span class="nav-title-span">Tu</span>Mate</a>
    </h1>
    <a href="/cart" class="header-cart-icon">
      <i class="bx bxs-cart bx-md"></i>
    </a>
    <div class="nav-img-container">
      <div class="nav-icon"><i class="bx bxs-down-arrow"></i></div>
      <div class="nav-img-box">
        <a href="/userInfo">
          <% if (!userInfo) {%>
          <img class="nav-img default-img" src="/imgs/default-user.png" alt="profile img" />
          <%} %> <% if (userInfo) {%>
          <img
            id="userInfoProfile"
            class="nav-img"
            src="/profileImgs/<%= userInfo.image %>"
            alt="profile img"
          />
          <%} %>
        </a>
      </div>
    </div>
    <% if (userAdmin) {%>
    <a href="/admin" class="admin-icon"><i class="bx bxs-universal-access bx-md"></i></a>
    <%} %>
  </div>
  <ul class="nav-list">
    <% if (userInfo) {%>
    <li class="nav-list-item">
      <a href="/"><i class="bx bxs-home"></i> Inicio</a>
    </li>
    <li class="nav-list-item">
      <a href="/cart"> <i class="bx bxs-cart"></i> Carrito</a>
    </li>
    <li class="nav-list-item">
      <a href="/userInfo"><i class="bx bx-user"></i> Informacion del perfil</a>
    </li>
    <li class="nav-list-item">
      <a href="/chat"><i class="bx bxs-chat"></i> Chat</a>
    </li>
    <% if (userAdmin) {%>
    <li class="nav-list-item">
      <a href="/admin"><i class="bx bxs-universal-access"></i> Administracion</a>
    </li>
    <li class="nav-list-item">
      <a href="/config"><i class="bx bxs-cog"></i> Ver configuracion</a>
    </li>
    <%} %>
    <li class="nav-list-item">
      <a href="/logout"><i class="bx bx-log-out"></i> Cerrar sesion</a>
    </li>
    <%} %> <% if (!userInfo) {%>
    <li class="nav-list-item">
      <a href="/chat"><i class="bx bxs-chat"></i> Chat</a>
    </li>
    <li class="nav-list-item">
      <a href="/login"><i class="bx bx-log-in"></i> Login</a>
    </li>
    <li class="nav-list-item">
      <a href="/register"><i class="bx bxs-spreadsheet"></i> Register</a>
    </li>
    <%} %>
  </ul>
</header>
